@font-face {
    font-family: vazir;
    src: url(/font/Vazir-Regular.woff) format("woff");
}
*{
    font-family: vazir;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   background: #f7edff;
}
.buttons {
    margin: 50px;
}
.buttons button {
    background: #333;
    color: #fff;
    border: 0;
    outline: 0;
    width: 120px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
}
#toastbox {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}
.toast {
    width: 400px;
    height: 150px;
    background: #fff;
    color: #000;
    font-weight: 500;
    margin: 15px 0;
    padding-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: block;
    align-items: start;
    position: relative;
    transform: translateX(100%);
    animation: moveleft 0.5s linear forwards;
}
@keyframes moveleft {
    100% {
    transform: translateX(0);
    }
}
.toast i {
    margin: 0 20px;
    font-size: 30px;
    color: #228b22;
}
.toast.error i {
    color: #ff0000;
}
.toast.Invalid i {
    color: #ffa500;
}
.toast::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 100%;
    background: #228b22;
    animation: anim 5s linear forwards;
}
@keyframes anim {
    100% {
        width: 0;
    }
}
.toast.error::after {
    background: #ff0000;
}
.toast.Invalid::after {
    background: #ffa500;
}
.toast .closebtn {
    width: 80%;
    height: 40px;
    border: none;
    outline: none;
    margin: 30px 40px;
    background: #edecec;
    border-radius: 12px;
    font-size: 17px;
    cursor: pointer;
}